main{
    width: 100%;
    margin: 0 auto;
    background-color:  rgb(240,255,248);
}
form{
    margin: 40px 0;
    background: #eeeeee;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
    width: 100%;

}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.input-padrao:hover{
    transform: scale(1.02);
    transition: 1s transform;
}
.checkbox{
    margin: 20px 0;
}
/*form input, form textarea*/
.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.enviar:hover{
    background: darkorange;
    transform: scale(1.1);
    transition: 1s transform;
}

.tabela{
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
}
table{
    margin: 20px 0 40px;
}
thead{
    background: black;
    color: white;
    font-weight: bold;
    border: 1px solid black;
}
.diaTurno{
    background: orange;
    font-family: 'Roboto', sans-serif;

}
th{
    padding: 8px 15px ;
    font-family: 'Roboto', sans-serif;

}
td, .diaTurno{
   border: 1px solid #555555; 
   padding: 8px 15px ;
   font-family: 'Roboto', sans-serif;

}
td{
    text-align: center;
    background-color: white;
}


@media screen and (max-width: 480px) {
    .enviar{
        font-size: 16px;
    }
}

@media screen and (max-width: 380px) {
    .enviar{
        font-size: 14px;
    }
}